@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;

}
.react-calendar__navigation__label__labelText {
   font-weight: 600;
}
.react-calendar__tile--now {
  background-color: #bdd4e4 !important; /* Tailwind sky-100 */
  color: black !important; /* 🔑 makes the number black */
  border-radius: 6px;
}